<footer id="page-footer" class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 contacts">
                <h5>Contact</h5>
                <ul class="list-group contacts__list">
                    <li class="list-group-item contacts__item">
                        <a href="tel:+639610225764" class="contacts__link">
                            <i class="fa fa-phone contacts__icon"></i>
                            +63961 022 5764
                        </a>
                    </li>
                    <li class="list-group-item contacts__item">
                        <a href="mailto:maryknollcollege@yahoo.com" class="contacts__link">
                            <i class="fa fa-envelope contacts__icon"></i>
                            maryknollcollege@yahoo.com
                        </a>
                    </li>
                    <li class="list-group-item contacts__item">
                        <a href="mailto:it-support@mcpi.edu.ph" class="contacts__link">
                            <i class="fa fa-envelope contacts__icon"></i>
                            it-support@mcpi.edu.ph
                        </a>
                    </li>
                    <li class="list-group-item contacts__item">
                        <a href="https://www.facebook.com/MCPIcommunity" target="_blank" class="contacts__link">
                            <i class="fa fa-facebook-square contacts__icon"></i>
                            www.facebook.com/MCPIcommunity
                        </a>
                    </li>
                    <li class="list-group-item contacts__item">
                        <a href="https://goo.gl/maps/Qc3dpE9VuBzQu5oy9" target="_blank" class="contacts__link">
                            <i class="fa fa-map-marker contacts__icon"></i>
                            Purok Atis, Brgy. Sto. Niño, Panabo City, Davao del Norte
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-12 col-md-6 mt-3 mt-md-0">
                <h5>About</h5>
                <p>Maryknoll College of Panabo Inc. is a private, Catholic school in the city of Panabo, Davao del Norte.</p>

             {{!  <div class="mt-3 logos">
                    {{! should fix: use img tag }}
                    <div class="logo logo__dacet" role="img" aria-label="Logo for Diocesan Apostolate on Catholic Education of Tagum"></div>
                    <div class="logo logo__mcpi" role="img" aria-label="Maryknoll College of Panabo, Inc."></div>
                    <div class="logo logo__paascu" role="img" aria-label="Logo for Philippine Accrediting Association of Schools, Colleges and Universities"></div>
                </div>
				}}
            </div>
        </div>

        <hr>
        <div class="mt-3">{{{ output.login_info }}}</div>
    </div>
</footer>